body{
	background: $b-l-dark;
}

.wrapper {
	max-width: 1219px;
	margin: 0 auto;
}

.container {	
	padding-top: 100px;	
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(auto-fill, 80px);
	grid-template-rows:  repeat(auto-fill, 80px);	
}

.box{
	background: $b-v-dark;
	position: relative;	
	@include border-radius(3px);
	height: 80px;
}

.inner-box {
	position: absolute;
	width: 80px;
	height: 80px;
	@include border-radius(3px);
	@include transition(3s);		

		&:hover {		
		background-color: $gold;
		@include transition(0s);
		}	
		
}
.checkbox {
position:absolute;
	bottom: 9999px;	
	&:checked {
		& ~ * .inner-box{
			top: -20px;
			left:-20px;
			width: 160px;
			height: 160px;
			z-index: 999;
			border: solid $gold 1px;
			
			@include border-radius(90px);			
			background: transporant;

				&:hover {		
					background: $gold;	
					@include transition(0s);				
				}	
		}

		& ~ .box{
			background: $b-l-dark;
		}

		& + .check:before {
			background: #f1c40f;
			@include border-radius(15px);
		}
	}	
}

.check {
	position: absolute;
	right: 15%;
	font-size: 33px;
	top:33px;

	&:before {
		content: "";
		position: absolute;
		top: 14px;
		left: -34px;
		width: 15px;
		height: 15px;
		border: none;
		@include border-radius(0);
		background-color: $b-v-dark;	
	}		
}




