body{
  background: $b-l-dark;
}

.wrapper {
  max-width: 1219px;
  margin: 0 auto;
}

.container {  
  padding-top: 100px; 
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, $box-width);
  grid-template-rows:  repeat(auto-fit, $box-width);  

}

.box{
  background: $b-v-dark;
  position: relative; 
  @include border-radius(3px);
  height: $box-width;
  width: $box-width;
}

.inner-box {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;

  @include border-radius(3px);
  @include transition($time-down);    

    &:hover {   
    background-color: $gold;
    @include transition(0s);
    } 
    
}
.checkbox {
position:absolute;
  bottom: 9999px; 
  
  &:checked {
    
    & ~ .box .inner-box{
      top: -20px;
      left:-20px;
      width: $box-width*2;
      height: $box-width*2;
      z-index: 999;
      border: solid $gold 1px;      
      @include border-radius(90px);     
      background: transparent;

      &:hover {   
        background: $gold;  
        @include transition(0s);        
      } 
    }

    & ~ .box{
      background: $b-l-dark;
    }

    & + .check:before {
      background: #f1c40f;
      @include border-radius(15px);
    }
  } 
}

.check {
  position: absolute;
  right: 15%;
  font-size: 33px;
  top:33px;

  &:before {
    content: "";
    position: absolute;
    top: 14px;
    left: -34px;
    width: 15px;
    height: 15px;
    border: none;
    @include border-radius(0);
    background-color: $b-v-dark;  
  }   
}




