html,
body,
div {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

* {
  margin: 0; }

body {
  background: #222; }

.wrapper {
  max-width: 1219px;
  margin: 0 auto; }

.container {
  padding-top: 100px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, 80px);
  grid-template-rows: repeat(auto-fill, 80px); }

.box {
  background: #111;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 80px; }

.inner-box {
  position: absolute;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: 3s;
  -o-transition: 3s;
  -webkit-transition: 3s;
  transition: 3s; }
  .inner-box:hover {
    background: #f1c40f;
    -moz-transition: 0s;
    -o-transition: 0s;
    -webkit-transition: 0s;
    transition: 0s; }

.checkbox {
  position: absolute;
  bottom: 9999px; }
  .checkbox:checked ~ * .inner-box {
    top: -20px;
    left: -20px;
    width: 160px;
    height: 160px;
    z-index: 999;
    border: solid #f1c40f 1px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -ms-border-radius: 90px;
    border-radius: 90px;
    background: none; }
    .checkbox:checked ~ * .inner-box:hover {
      background: #f1c40f;
      transition: 0s; }
  .checkbox:checked ~ .box {
    background: #222; }
  .checkbox:checked + .check:before {
    background: #f1c40f;
    border-radius: 15px; }

.check {
  position: absolute;
  right: 15%;
  font-size: 33px;
  top: 33px; }
  .check:before {
    content: "";
    position: absolute;
    top: 14px;
    left: -34px;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 0;
    background-color: #111; }
